@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
} */

body {
    font-family: 'Open Sans', sans-serif;
    background: #eee
    
}

.wrapper {
    max-width: 600px;
    margin: 20px auto
}

.content {
    padding: 20px;
    padding-bottom: 50px
}

a:hover {
    text-decoration: none
}

a,

p.text-muted {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px
}

b {
    font-size: 15px;
    font-weight: bolder
}

.option {
    display: block;
    height: 50px;
    background-color: #f4f4f4;
    position: relative;
    width: 100%
}

.option:hover {
    background-color: #e8e8e8;
    cursor: pointer
}

.option input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}


p.mb-4 {
    border-left: 3px solid green
}

p.my-2 {
    border-left: 3px solid red
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #229aeb;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer
}

input[type="submit"]:hover:focus {
    border: none;
    outline: none;
    background-color: #229bebad
}